@model CarsApp.Web.Models.Car
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

﻿
<!DOCTYPE html>
<html>
<head>
    <title>Create</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
</head>
<body>
    <div style="margin: 50px;">
        <h1>Add a new car</h1>
        <form>
            <label>Make</label>
            <input  />
            <span></span>

            <label>Model</label>
            <input />
            <span></span>

            <label>Year</label>
            <input />
            <span></span>


            <label>Color</label>
            <input />
            <span></span>
        </form>



        <h2><a href="/">Back to main</a></h2>
    </div>
</body>
</html>